# Learning Python: Part 5 - Variables and Loops

## Variables: Basic units of storage.

In [1]:
# Setting the x variable equal to 10
x = 10

# Setting the first_name variable equal to Alice
first_name = "Alice"

In [2]:
print(x)

10

In [3]:
print(first_name)

Alice

## Data Types in Python

#### Integers: Whole numbers without a decimal point.

In [4]:
age = 25

#### Floats: Numbers with a decimal point.

In [5]:
temperature = 98.6

#### Strings: Sequances of characters enclosed in quotes.

In [6]:
greeting = "Hello, World!"

#### Lists: Ordered collections of items, which can be of different data types.

In [7]:
fruits = ["apple", "banana", "cherry"]

#### Dictionaries: Collections of key-value pairs.

In [8]:
person = {"name": "Alice", "age":30}

#### Sets: Unordered collections of unique items

In [9]:
unique_numbers = {1, 2, 3, 4, 5}

#### Booleans: True or False values.

In [10]:
is_student = True

## Boolean Variables and Operators

In [11]:
is_raining = True
is_sunny = False

# Boolean operators
print(is_raining and is_sunny) # False
print(is_raining or is_sunny) # True
print(not is_raining) # False

False
True
False

## While Loop

In [12]:
count = 0
while count < 5:
    print("Counting:", count)
    count += 1 #increment count by 1

Counting: 0
Counting: 1
Counting: 2
Counting: 3
Counting: 4

## For Loop

In [13]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

## If Statement

In [14]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

## Code Indentation in Python

In [15]:
# Each level of indentation represents a new block of code. Consistency in using either spaces or tabs for indentation is important to avoid errors.
if x > 5:
    print("This is indented")
    if x > 10:
        print("This is further indented")

This is indented